

.logo {
    width: 350px;
    border-radius: 20px;
    border-style: solid;
    border-color: aliceblue;
}

.login {
    border-style: solid;
    border-color:black;
    
}

.container-fluid {
    background-image: linear-gradient(to top, #070707, rgb(23, 95, 228)) !important;
   
}
.navbar{
    background-color: rgb(12, 36, 56) !important;
}

.nav-link {

    color: aliceblue !important;
    font-size: large;
    
}

.background {
    position: relative;
    background: url(./assets/band.jpg);
    margin: 50px;
    background-size: cover;
    background-position: center;
    height: 100vh;
    border-radius: 20px;
    border-style: solid;
    border-color:darkslategray;
   
  }

  .main-info {
    display: flex;
    flex-direction:column;
    color: aliceblue;
    
   background-color: black;
   font-size: xx-large;
    
    
  }

  .input-group-text {
      background-color: black !important;
      color: rgb(3, 8, 12);
  }



.profile {
    color: aliceblue !important;
}